{% extends "djangoapp/base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block auth_nav_buttons %}
    <!-- This is to conditionally show 'Add Review' button for dealer_details.html only-->

    <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer_id %}">Add Review</a>
    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
{% endblock %}

{% block content %}
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Reviews for {{dealer_name}}</h2>
    <div class="card-columns container-fluid">
        <!-- Loops through review_list from context -->
        {% for review in review_list %}
        <div class="card">
            <!-- Conditionally shows different emoji based on NLU sentiment -->
            {% if review.sentiment == "positive" %}
            <img class="card-img-left" style="max-width:7%;" src="{{MEDIA_URL}}/emoji/positive.png"></img>
            {% elif review.sentiment == "negative" %}
            <img class="card-img-left" style="max-width:7%;" src="{{MEDIA_URL}}/emoji/negative.png"></img>
            {% elif review.sentiment == "neutral" %}
            <img class="card-img-left" style="max-width:7%;" src="{{MEDIA_URL}}/emoji/neutral.png"></img>
            {% endif %}     
            <!-- Display card contents: Make, Model, Year, Review -->
            <div class="card-body">
                <label class="card-title">{{review.car_make}} , {{review.car_model}}</label>
                <label class="card-title">{{review.car_year}}</label>
                <label class="card-text">{{review.review}}</label>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
        

